@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

h1 {
  text-align: center;
  font-family:Oswald;
  font-size: 50px;
  color: #d7d9db;
  text-shadow: 2px 2px #383837;
}

.mu {
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

body {
  background-color: grey;
}

p {
  text-align: center;
  font-family: 'Source Sans Pro';
  color: #272342;
}

img {
  width: 75%;
  height: auto;
  padding: 10px;
  border: 1px solid #aa6c39;
  background: #aa6c39;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link, a:visited {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

.no {
  font-weight: 800;
}

ul {
  color: #272342;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  font-weight: none;
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: right;
  color: #272342;
}

figcaption {
  text-align: center;
  font-family: 'Source Sans Pro';
  color: #272342;
  font-weight: bold;
  padding: 2px;
}